<%- partial ('../topbar.ejs') %>

<div id="userpage">
    <h4>Profile</h4>

    <table class='table' cellpadding="4">
        <tr data-id="<%= user.id %>" data-model="user">
            <td style="width:120px;">Navn</td>
            <td><%= user.name %></td>
        </tr>

        <tr>
            <td>Epost</td>
            <td><%= user.email %></td>
        </tr>

        <% if (user.admin) { %>
        <tr>
            <td> <img src="/images/user/admin.png" style="margin-top: 3px;"></td>
        </tr>
        <% } %>
        <tr>
            <td>Rediger</td>
            <td>
                <a href="/user/edit/<%= user.id %>">Rediger</a>
                <form action="/user/destroy/<%= user.id %>" method="POST" style="display: inline;">
                    <input type="submit" value="Slett"/>
                </form>
            </td>
        </tr>
    </table>

    <h4>Gravatar (barely implemented)</h4>

    <img src="<%= session.User.gravatar %>" />

    <form action="/user/update/<%= user.id %>?gravatar" method="POST">
        <table cellpadding="4">
            <tr>
                <td style="width:120px;">Same as login</td>
                <td><input type="checkbox" name="sameAsLogin" checked> <i style="font-size: 14px;"><%= user.email %></i></td>
            </tr>
            <tr>
                <td style="width:120px;">Epost</td>
                <td><input type="text" name="gravatarEmail" value="<%= user.settings.gravatar.email %>" disabled style="width: 200px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>

    <h4>Navision settings (not implemented)</h4>

    <p style="color: red;"><i class="fa fa-bomb" style="font-size: 1.6em; color: black;"></i> Warning! Password currently stored in plain text</p>

    <form action="/user/update/<%= user.id %>?navision" method="POST">
        <table cellpadding="4">
            <tr>
                <td style="width:120px;">Brukernavn</td>
                <td><input type="text" name="navisionUsername" value="<%= user.settings.navision.username %>" style="width: 200px;"></td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" name="navisionPassword" value="<%= user.settings.navision.password %>" style="width: 200px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>


</div>