<%- partial ('../topbar.ejs') %>

<div id="userpage">
    <h4>Profile</h4>

    <table class='table' cellpadding="4">
        <tr data-id="<%= user.id %>" data-model="user">
            <td style="width:80px;">Navn</td>
            <td><%= user.name %></td>
        </tr>

        <tr>
            <td>Epost</td>
            <td><%= user.email %></td>
        </tr>

        <% if (user.admin) { %>
        <tr>
            <td> <img src="/images/user/admin.png" style="margin-top: 3px;"></td>
        </tr>
        <% } %>
        <tr>
            <td>Rediger</td>
            <td>
                <a href="/user/show/<%= user.id %>">Vis</a>
                <a href="/user/edit/<%= user.id %>">Rediger</a>
                <form action="/user/destroy/<%= user.id %>" method="POST" style="display: inline;">
                    <input type="submit" value="Slett"/>
                </form>
            </td>
        </tr>
    </table>

    <h4>Gravatar</h4>

    <table cellpadding="4">
        <tr>
            <td style="width:80px;">Same as login</td>
            <td><input type="checkbox" checked> (<%= user.email %>)</td>
        </tr>
        <tr>
            <td style="width:80px;">Epost</td>
            <td><input type="text" disabled></td>
        </tr>
    </table>

    <h4>Navision settings</h4>

    <table cellpadding="4">
        <tr>
            <td style="width:80px;">Brukernavn</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Passord</td>
            <td><input type="password"></td>
        </tr>
    </table>


</div>